.container-blog {
    display: grid; /* Sử dụng CSS Grid cho container */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Tạo các cột có kích thước tối thiểu 300px và tự động điều chỉnh */
    gap: 20px; /* Khoảng cách giữa các bài viết */
    width: 66.66%; /* Chiếm 2/3 trang */
    margin: 20px auto; /* Căn giữa trang */
  }
  
  .post {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    box-sizing: border-box; /* Đảm bảo padding và border không làm tăng kích thước phần tử */
  }
  
  .post img {
    width: 100%;
    height: 200px; /* Đặt chiều cao mong muốn cho tất cả các ảnh, bạn có thể điều chỉnh giá trị này */
    object-fit: cover; /* Đảm bảo ảnh lấp đầy khung và không bị méo, phần thừa sẽ bị cắt */
    border-radius: 6px;
    margin-bottom: 10px;
  }
  
  .post .flex {
    display: flex; 
    align-items: center; 
    margin-top: 8px; /* Đảm bảo có khoảng cách phía trên */
    margin-bottom: 8px; /* Thêm một chút khoảng cách phía dưới nếu cần */
  }
  
  .post .flex img[alt="Icon"] {
    width: 16px;
    height: 16px;
    margin-right: 2px; /* Thêm khoảng cách bên phải icon để tách biệt với date */
  }

  .post-title {
    font-size: 1.5em;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
  }
  
  .post-summary {
    color: #666;
    line-height: 1.6;
    margin-bottom: 15px;
  }
  
  .read-more-btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 72px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
  }
  
  .read-more-btn:hover {
    background-color: #0056b3;
  }

  .pagination-container {
    display: flex;
    justify-content: center; /* Căn giữa các nút */
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .pagination-container button:hover {
    background-color: #e0e0e0;
  }

  