.main-layout {
  display: flex;
  padding: 20px;
  gap: 30px; /* Khoảng cách giữa main content và sidebar */
  max-width: 1200px;
  margin: 20px auto;
}

.container-blog {
  flex: 7; /* Chiếm 7/10 main-layout */
}

.sidebar {
  flex: 3; /* Chiếm 3/10 main-layout */
}

.hot {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 5px;
  border: 1px solid #ddd;
}

.hot h2 {
  font-size: 20px;
  font-weight: bold;
  margin-top: 0;
  margin-bottom: 10px;
  color: #333;
  border-bottom: 2px solid #ddd;
  padding-bottom: 5px;
}

.hot-item {
  display: flex;
  flex-direction: column; /* Thay đổi hướng flex thành cột */
  margin-bottom: 15px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
}

.hot-item:last-child { /* Bỏ dấu gạch ngang ở hot-item cuối */
  margin-bottom: 0;
  border-bottom: none;
  padding-bottom: 0;
}

.hot-item img {
  width: 100%; /* Ảnh chiếm toàn bộ chiều rộng */
  height: 180px; /* auto Chiều cao tự động để giữ tỷ lệ */ /*Chiều cao mặc định*/
  display: block; /* Loại bỏ khoảng trắng thừa dưới ảnh */
  border-radius: 3px;
  margin-bottom: 8px; /* Thêm khoảng cách giữa ảnh và tiêu đề */
  object-fit: cover; /* Đảm bảo ảnh bao phủ vùng chứa mà không bị méo */
}

.hot-item a {
  font-size: 16px;
  font-weight: bold;
  line-height: 1.4;
  color: #333;
  display: block;
}

.hot-item a:hover {
  color: #007C9C;
}

.post img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border-radius: 5px; /* Bo tròn góc ảnh */
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.post img:hover {
  transform: scale(1.03);   /* Zoom 103% */
  opacity: 0.7;            /* Mờ đi một chút */
}

.post-title {
  font-size: 28px;
  font-weight: bold;
  margin: 12px 16px 8px 25px;
  color: #333;
}

.post-summary {
  font-size: 16px;
  margin: 0 16px 16px 25px;
  color: #555;
  line-height: 1.6;
}
  
.read-more-btn {
    background-color: #00B3DC;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-bottom: 60px;
    margin-left: 25px;
    border-radius: 72px;
    cursor: pointer; /* Đổi kiểu con trỏ chuột thành biểu tượng bàn tay khi di chuyển qua */
    font-size: 16px;
    transition: background-color 0.3s ease;
}
  
.read-more-btn:hover {
    background-color: #007C9C;
}

.pagination-container {
    display: flex;
    justify-content: center; /* Căn giữa các nút */
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
}

.pagination-container button:hover {
    background-color: #e0e0e0;
}




  