
  header {
    position: relative;
    width: 100%;
    height: 70vh;
    overflow: hidden;
    margin: 0px;
    padding: 0px;
  }
  
  header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    z-index: -1;
    object-fit: cover;
    object-position: center;
  }

a {
    text-decoration: none;
}

.container {
    background-color: rgba(0, 0, 0, 0.4); /* Màu nền đen mờ */
    backdrop-filter: blur(8px); /* Làm mờ nền phía sau */
    -webkit-backdrop-filter: blur(8px); /* Hỗ trợ cho Safari */
    border-radius: 50px; /* Bo tròn như ảnh */
    align-items: center;
}

.box-select{
  margin: 0 auto;
  background-color: var(--color-0);
  border-radius: 32px;
  box-shadow: 0 4px 16px rgba(0,142,196,0.3);

  position: relative;
  top: -180px;
  z-index: 10;
  margin: 0px 160px;
  margin-bottom: -180px; /* bù lại khoảng chiếm dụng */
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 khối ngang */
  /* gap: 24px; */
}

.grid-item {
  padding: 16px;
  text-align: center;
  font-weight: bold;
}

.border-box {
  border: 1px var(--color-300) solid;
  border-radius: 72px;
}
.spacing-border {
  width: 0.5px;
  height: 100%;
  background-color: var(--color-300);
}
.ct_about {
  padding: 96px 160px;
}
.grid-about{
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 4 khối ngang */
  gap: 104px;
}
.item-about{
  padding:32px 0px;
  text-align: center;
}

.scroll-wrapper {
  overflow-x: auto;
  white-space: nowrap;
  width: 100%;
  margin: 72px 0px 64px 0px;
  -ms-overflow-style: none;  /* IE và Edge */
  scrollbar-width: none;     /* Firefox */
}
.scroll-container::-webkit-scrollbar {
  display: none;             /* Chrome, Safari và Opera */
}

.item {
  display: inline-block;
  margin-right: 104px;
}

.icon-custom {
  height: 48px;
  width: auto; /* giữ nguyên tỷ lệ gốc */
}

.ct_tour{
  padding: 64px 160px;
}

.txt_tour{
  margin-bottom: 64px;
}
.grid-card{
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 khối ngang */
  gap: 32px;
  margin-bottom: 64px;
}
.square-image {
  aspect-ratio: 1 / 1;
  width: 100%; /* hoặc width: 200px; hoặc width: 50%... */
  overflow: hidden;
  border-radius: 12px;
  position: relative;
}

.square-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.btn-star{
  position: absolute;
  top: 16px;  /* hoặc tuỳ vị trí bạn muốn */
  right: 16px;
  background: rgba(0, 0, 0, 0.5); /* ví dụ nền đen mờ */
}
.btn-more{
  border: 1px var(--color-300) solid;
}
.ct-highlight{
  width: 100%;
  height: auto;
}

#highlight-vietra {
  position: relative;
  width: 100%;
  aspect-ratio: 16/9; /* Tỉ lệ khung hình bạn muốn (có thể là 4/3, 1/1, v.v.) */
  overflow: hidden;
}
.img_cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}
.txt_date{
  border-bottom: 1px var(--color-0) solid;
  padding-bottom: 36px;
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 48px;
}
.txt_highlight{
  font-size: 4.5rem;
  font-weight: bold;
  text-transform: capitalize;
}
.ct_highlight_des {
  position: absolute;
  top: 0; /* hoặc 0 để nằm sát viền */
  color: white;
  background-color: rgba(0, 0, 0, 0.5); /* nền mờ dễ đọc hơn */
  width: 100%;
  height: 100%;
  padding: 160px;
}
.btn_view{
  margin-top: 42px;
}
.btn_view_ic {
  width: 20px; /* hoặc 20px tùy thiết kế */
  height: 20px;
  object-fit: contain; /* đảm bảo ảnh không bị méo */
}
.detail_highlight{
  width: 50%;
}
.grid_inner_highlight {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  margin-left: 100px;
  width: 50%;
}
.item_highlight {
  display: flex;
  flex-direction: column;
  align-items: start;
  overflow: hidden;
  text-transform: capitalize;
}

.item_highlight img {
  width: 100%;
  aspect-ratio: 3/4; /* giữ hình chữ nhật */
  object-fit: cover;
  border-radius: 16px;
}
#news-vietra{
  padding: 80px 160px;
  display: flex;
  flex-direction: column;
}

/*Carousel*/
.carousel-container {
  overflow: hidden;
  position: relative;
  max-width: 1200px;
  margin: auto;
}

.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}

.carousel-slide {
  min-width: 100%;
  display: flex;
  gap: 20px;
  padding: 10px 0;
}

.card {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  overflow: hidden;
  height: 100%;
}

.img-card {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 16px;
}

.dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.dot {
  height: 12px;
  width: 12px;
  margin: 0 5px;
  background-color: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background-color: #333;
}

.nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0,0,0,0.5);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
}

.prev { margin-right: 12px; border: 1px var(--color-300) solid; padding: 8px; }
.next { border: 1px var(--color-300) solid; padding: 8px; }


.readmore {
  display: flex;
  flex:content;
  height: 100%;
  justify-content: flex-end;
  flex-direction: column;
  align-self: flex-start;
  margin-top: 32px;
}

.txt_news{
  margin-bottom: 64px;
}
.text_news_des{
  display: -webkit-box;
  -webkit-line-clamp: 3; /* số dòng */
  -webkit-box-orient: vertical;
  overflow: hidden;
}
@media (max-width: 1200px) {
  .grid-container {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid-about {
    grid-template-columns: repeat(1, 1fr);
    gap: 16px;
  }
  .grid-card{
    grid-template-columns: repeat(2, 1fr); /* 4 khối ngang */
    gap: 16px;
    margin-bottom: 16px;
  }
  .box-select {
    margin: 0px 84px;
    padding: 16px;
    top: -80px;
    margin-bottom: -80px;
  }
  .table-p{
    margin: 16px;
  }
  .ct_about {
    padding: 64px;
  }
  .spacing-border {
    display:none
  }
  .border-box{
    border: none;
  }
  .grid-item {
    border-bottom: 1px var(--color-300) solid;
  }
  header {
    height: 50vh;
  }
  .contain-nav {
    display: none;
  }
  .ct_tour{
    padding: 32px;
  }
  .flex_highlight {
   display: flex;
   flex-direction: column; 
  }
  .ct_highlight_des{
    padding: 32px;
  }

  .detail_highlight{
    width: 100%;
  }
  .txt_highlight{
    font-size: 36px;
  }
  .txt_date{
    font-size: 16px;
    padding-bottom: 16px;
  }
  .grid_inner_highlight{
    margin-left: 0;
    margin-top: 32px;
  }
  .txt_news{
    margin-bottom: 32px;
  }
}

@media (max-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr;
  }
  .grid-card{
    grid-template-columns:  1fr; /* 4 khối ngang */
    gap: 16px;
    margin-bottom: 16px;
  }
  .box-select {
    margin: 0px 32px;
    padding: 16px;
    top: -80px;
    margin-bottom: -80px;
  }
  .mobile-p{
    margin: 16px
  }
  .ct_about {
    padding: 32px;
  }
  .spacing-border {
    display:none
  }
  .border-box{
    border: none;
  }
  .grid-item {
    border-bottom: 1px var(--color-300) solid;
  }
  .contain-nav {
    display: none;
  }
  .grid_inner_highlight{
    display: none;
  }
  .detail_highlight{
    width: 100%;
  }
  #highlight-vietra{
    aspect-ratio: 1/1;
  }
  .carousel-slide {
    flex-direction: column;
  }

  .card {
    min-width: 100%;
  }
  .txt_news{
    margin-bottom: 16px;
  }
}

